.card {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	width: 286px;
	cursor: pointer;
}

.card > p:not(.title),
.active > p:not(.title) {
	font-weight: 400;
	font-size: 12px;
}

.title {
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.active {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	width: 286px;
	cursor: pointer;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
