.location_permission{
  height: calc(100vh - 200px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location_permission h2{
  width: 500px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  line-height: 1.3;
}

.css-2b097c-container {
  width: 300px;
}