:root {
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}
