.sidebar {
	margin: 0;
	padding: 30px;
	width: auto;
	background-color: #9cbfa7;
	height: 100vh;
}

.sidebar ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar li {
	margin-bottom: 10px;
	white-space: nowrap;
}

.sidebar a {
	display: flex;
	align-items: flex-start;
	color: white;
	padding: 16px;
	font-weight: bold;
}

.sidebarItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebarItem span {
	margin-top: 10px;
	font-size: 14px;
}

.image {
	margin-right: 15px;
}

.logout {
	display: flex;
	flex-direction: row;
	color: white;
	padding: 16px;
	font-weight: bold;
	cursor: pointer;
}

.top {
	display: flex;
	flex-direction: column;
}

.logo {
	align-self: center;
}

.bottom {
	display: flex;
	flex-direction: row;
}

.white {
	color: white;
}
