.incident_container {
  position: relative;
  width: 550px;
  border: 2px #ededed solid;
  border-radius: 5px 0px 0px 5px;
  padding: 35px;
  max-height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-right: 40px;
}

.num {
  font-weight: bold;
}
