:root {
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #575757;
  transition: 0.2s all;
}

a:hover{
  color: #262626;
  transition: 0.2s all;
}

button {
	cursor: pointer;
}

.mapboxgl-popup-content{
	padding: 15px;
	font-size: 0.8rem;
}
